NOTE : THIS DOCUMENT HAS BEEN DEMED NON USEFUL AND HAS ONLY BEEN KEEP FOR ARCHIVE PURPOSES.
LOOK TO brainstorm.txt FOR IDEA LOG.

This document lists the requirements for the project procrastic.
The following format shall be utilized:

ID) 
-DESCRIPTION:
Brief description on WHAT the software must contain, without describing how to do it.
This must contain a MoSCoW word (MUST, SHOULD, COULD, WONT).

-RATIONALE:
Why the software must do what is described in the description.

-FITNESS CRITEREA:
The method used for testing if the requirement has been fullfilled.

-HISTORY:
The date of the changes made to the requirment.

-VOLATILTY:
The likelyhood of the requirement changing over time.

-PROGRESS:
The progess of the requirement on its road to completion.


TEMPLATE

ID) 
-DESCRIPTION:


-RATIONALE:


-FITNESS CRITEREA:


-HISTORY:


-VOLATILTY:


-PROGRESS:


1)
-DESCRIPTION:
The software MUST be built using base HTML, CSS, and Javascript.

-RATIONALE:
This will be a good learning experience.

-FITNESS CRITEREA:
The software will be checked to see if the requirement has been fullfilled.

-HISTORY:
Added on the 17/10/24.

-VOLATILTY:
Unlikely.

-PROGRESS:
Nothing is preventing this requirement from being fullfilled.


2) 
-DESCRIPTION:
The software MUST allow for a variety of games to be played in its base state.

-RATIONALE:
This will make the website more fun and it will help captivate users.

-FITNESS CRITEREA:
The number of games must exceed 5.

-HISTORY:
Added on 10/17/24.

-VOLATILTY:
Unlikely.

-PROGRESS:
No games have been made so far.


3) 
-DESCRIPTION:
The website COULD have a recognizable and appealing colour palette. 

-RATIONALE:
Having a colour palette helps users build an association with the website. Improving marketability and prompting ffuture visits.

-FITNESS CRITEREA:
The appeal of the colour palette will be tested against existing ones, it will be reviewed by artists and analysedby a colour palette analyser.

-HISTORY:
Added on 17/10/24.

-VOLATILTY:
Possible.

-PROGRESS:
Colour palette has yet to be decided.


4) 
-DESCRIPTION:
The games MUST run inside of a properly sized window on the webpage. 

-RATIONALE:
This is required as otherwise the games would take up too much of the screen.

-FITNESS CRITEREA:
The sizing of the window will be tested and polled by testers for eye strain.

-HISTORY:
Added on 17/10/24.

-VOLATILTY:
Unlikely.

-PROGRESS:
The size of screen has yet to be deceided.

5) 
-DESCRIPTION:
The website WONT be availible on mobile phone.

-RATIONALE:
The transfers required to make the games playable on mobile would make the games unplayable.

-FITNESS CRITEREA:
The website will be tested on mobile. It should prohibit the games on any mobile device.

-HISTORY:
Added on 17/10/24.

-VOLATILTY:
Unlikely.

-PROGRESS:
The tests to check this have yet to be run.

6) 
-DESCRIPTION:
Each game SHOULD have a how to play section. 

-RATIONALE:
This allows the players to learn the controls of the game in a streamlined manner.

-FITNESS CRITEREA:
Each game shall be checked in order to discern the presence of a how to play section. 

-HISTORY:
Added on 17/10/24.

-VOLATILTY:
Possible

-PROGRESS:
None of the games how to play sections have been elaborated yet.

7) 
-DESCRIPTION:
The Games WONT inform the players how to play as a part of the website.

-RATIONALE:
This would integrate well with the chosen game hosting format and allows for easy modification and maintence without diminishing the user experience. However, this is entirely up to how the game creator decides to structure their game page.


-FITNESS CRITEREA:


-HISTORY:
Added on 17/10/24. Modified on the 20/10/24.

-VOLATILTY:
Possible

-PROGRESS:


8) 
-DESCRIPTION:
The website SHOULD have a navigation bar.

-RATIONALE:
This would facilitate navigation between different games on the website.

-FITNESS CRITEREA:
The navigation and functionality of the navigation bar would be targeted during testing.

-HISTORY:
Added on 17/10/24.

-VOLATILTY:
Possible

-PROGRESS:
The website has not been elaborated yet.

9) 
-DESCRIPTION:
It MUST be easy to add games to the website.

-RATIONALE:
This is the main functionality of a flash games website.

-FITNESS CRITEREA:
The time it should take to add an already existing game must be minimal. Test shall be run with developpers and itshould take them less than an hour to add a game.

-HISTORY:
Added on 17/10/24.

-VOLATILTY:
Unlikely.

-PROGRESS:
The game extension code hasn't been created yet.

10) 
-DESCRIPTION:
Each game COULD run at a minimunm of 30fps.

-RATIONALE:
This ensures a smooth enough playing experience for the end users.

-FITNESS CRITEREA:
Performance tests shall be run in which large amounts of objects will be generated in order to see the limits of performance.

-HISTORY:
Added on 17/10/24.

-VOLATILTY:
Unlikely

-PROGRESS:
No games currently exist.


11) 
-DESCRIPTION:
The website MUST have a semi-old internet asthetic.

-RATIONALE:
This just looks and feels better.

-FITNESS CRITEREA:
The website shall be cross compared with other old looking internet websites.

-HISTORY:
Added on 19/10/24 

-VOLATILTY:
Unlikely.

-PROGRESS:
The website hasn't been made yet.


12) 
-DESCRIPTION:
The website COULD have smooth-fade in transition between each game.

-RATIONALE:
This makes the website look a bit better. 

-FITNESS CRITEREA:
The presence of these transition shall be checked.

-HISTORY:
Added on the 19/10/24.

-VOLATILTY:
Possible.

-PROGRESS:
The website hasn't been made yet.


13) 
-DESCRIPTION:
The each game SHOULD be accessed by small self contained windows with brief preview images.

-RATIONALE:
This allows for convinient previewing of the games for users and allow a lot of games to be accessed on one page.

-FITNESS CRITEREA:
The presence of this shall be checked. Along with the functionality of each window.

-HISTORY:
Added on the 20/10/24.

-VOLATILTY:
Unlikely.

-PROGRESS:
The website hasn't been elaborated yet.


14) 
-DESCRIPTION:
The website should have a portal page allowing you too add games

-RATIONALE:
This allows games to easily be added to the website.

-FITNESS CRITEREA:
The navbar should have a portal button that takes you too the portal. The portals functionality will be tested through test that continually add games to the website.

HISTORY:
20/10/24.

-VOLATILTY:
Unlikely.

-PROGRESS:
The website hasn't been made yet.


15) 
-DESCRIPTION:


-RATIONALE:


-FITNESS CRITEREA:


-HISTORY:


-VOLATILTY:


-PROGRESS:


16) 
-DESCRIPTION:


-RATIONALE:


-FITNESS CRITEREA:


-HISTORY:


-VOLATILTY:


-PROGRESS:


17) 
-DESCRIPTION:


-RATIONALE:


-FITNESS CRITEREA:


-HISTORY:


-VOLATILTY:


-PROGRESS:




