.box {
	width: 30%;
	height: 300px;
	padding: 10px;
	border: none;
	margin: 0px;
	display: inline-block;
}

.blue {
	background-color: blue;
}

.violet {
	background-color: violet;
}

.yellow {
	background-color: yellow;
}
